.image {
    background-image: url("SVG/image1.svg");
    background-size: cover;
    width: 679px;
    height: 482px;
    margin-top: 52px;
}

.img_links {
    display: flex;
    margin: 10px;
    width: 300px;
    align-content: center;
    justify-content: space-around;
}

.img {
    margin: 10px;
}

.text {
    color: red;
    background-color: darkorange;
    width: 100px;
    align-content: center;
    text-align: center;
}

.arrow-prev {
    color: red;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 30px;
    margin-top: 50px;
    margin-left: -15px;
}

img:hover {
    border: 3px solid #413f3f;
}

a:hover {
    border: 3px solid grey;
}

body {
    background-color: #131313;
    width: 100%;
}

.title_line {
    display: flex;
    width: 253px;
}

.content {
    margin-top: 107px;
margin-left: 134px;
    margin-right: 134px;
    display: flex;
    justify-content: space-around;
}

.p_text {
    width: 442px;
    font-size: 14px;
    line-height: 26.73px;
    font-family: Nunito Sans,Arial,serif;
}

.line {
    margin-top: 65px;
}

p {
    color: white;
    font-size: 13px;
    line-height: 21.28px;
    font-family: "Nunito Sans", "Arial", serif;
}

h1 {
    color: #E3B873;
    text-transform: uppercase;
}
h3 {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25.95px;
    font-family: "Yeseva One","Arial",serif;

}
h4 {
    color: white;
    text-transform: uppercase;
    opacity: 30%;
    margin-right: 50px;
    font-size: 14px;
    line-height: 19.4px;
    font-family: Yeseva One,Arial,serif;
}
.parameter {
    width: 181px;
}
.parameters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;


}
.nav_head {
    display: flex;
    justify-content: start;
}
.right_side_content {
    margin-top: -25px;
}
.left_side_content {
    margin-top: 75px;
    width: 40%;
}
.par_value {
    color: white;
}
.rostov_adm {

}